.search
      width: 100vw
      height: 100vh
      display: flex
      flex-direction: column
      > div:first-child
            background-color: green
            flex-grow: 1
      > div:last-child
            flex-grow: 4