.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes input {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes input {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes title {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_bar > input {
  width: 70%;
  height: 30%;
  margin: 0 8px 0 8px;
  padding: 0 24px;
  border: solid 1px rgba(128, 128, 128, 0.2);
  border-radius: 18px;
  -webkit-box-shadow: 4px 5px 24px -12px rgba(30, 30, 30, 0.1);
          box-shadow: 4px 5px 24px -12px rgba(30, 30, 30, 0.1);
  font-size: 16px;
  -webkit-animation: input 2s 1;
          animation: input 2s 1;
}

.search_bar > input:focus {
  outline: none;
}

.search_bar > h2 {
  padding: 0 8px;
  -webkit-animation: title 2.9s 1;
          animation: title 2.9s 1;
  letter-spacing: .4px;
}

@media (max-width: 576px) {
  .search_bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.result_item {
  border-bottom: solid 1px rgba(128, 128, 128, 0.08);
  width: 60%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 8px 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result_item > div:first-child > a {
  text-decoration: none;
  font-size: 18px;
}

.result_item > div:first-child > p {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.8);
}

.result_item > p {
  padding: 4px 0;
  font-size: 14px;
  color: grey;
}

@media (max-width: 576px) {
  .result_item {
    width: 88%;
  }
}

.search {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.search > div:first-child {
  height: 20%;
}

.search > div:last-child {
  height: 80%;
}
/*# sourceMappingURL=Search.css.map */